.example-enter {
 position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;

}

@-webkit-keyframes example-enter {
    100% { left: 0; }
}

@keyframes example-enter {
    100% { left: 0; }
}

.example-leave {
  transition-duration: .3s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transform: translate3d(0,0,0);
  opacity: 1;

 
}

.example-enter.example-enter-active {
  transform: translate3d(0,0,0);
}

.example-leave.example-leave-active {
  transform: translate3d(0,-45%,0);
  opacity: 0.3;
}



.example-enter.example-enter-active,
.example-leave {
  margin-left: 0;
  opacity: 1;
}

.animateExample {
  display: block;
  position: relative;
  width: 384px;
}

.animateItem {
  color: white;
  font-size: 36px;
  font-weight: bold;
  height: 128px;
  line-height: 128px;
  position: absolute;
  text-align: center;
  -webkit-transition: all .25s; /* TODO: make this a move animation */
  transition: all .25s; /* TODO: make this a move animation */
  width: 128px;
}
